@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	padding: 0;
/*	background: hsla(0,0%,5%,1.00);*/
	color: hsla(0,0%,20%,1.00);
	font-family: 'Battambang','Roboto';
	user-select: text;
	
}
h1,h2,h3,h4,h5,h6,a,ul{
	text-decoration: none;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	font-family: "Roboto Light","Roboto", "Arial", sans-serif,"Suwannaphum", serif;
	user-select: text;
}
a{
	color: hsla(0,0%,19%,1.00);
	font-family: "Roboto Light","Roboto", "Arial", sans-serif,"Suwannaphum", serif;;
	font-weight: 600;
}
a:hover{
	color: hsla(0,0%,23%,1.00);
}
.play-video .play .title .text .tag{
/*	background: hsla(359,100%,73%,1.00);*/
	width: 175px;
	overflow: hidden;
}
.play-video .play .title .text .tag a{
	color: hsla(192,95%,46%,1.00);
	padding-right: 5px;
	margin-bottom: 5px;
	font-size: 14px;
}
.title .text .tag a:hover{
	color: hsla(211,100%,50%,1.00);
}
div{
	box-sizing: border-box;
	font-family: "Roboto Light","Roboto", "Arial", sans-serif,"Suwannaphum", serif;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsla(359,100%,62%,1.00);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.dropdown{
	z-index: 999;
	width: 100%;
	background: hsla(0,0%,5%,1.00);
	display: none;
	overflow: hidden;
	box-sizing: border-box;
/*	box-shadow: 100px 0px 30px rgba(0,0,0,0.50);*/
	float: left;
	position: fixed;
	top: 60px;
/*	padding-bottom: 10px;*/
	left: -100%;
	transition: 0.4s;
	transition-delay: 0.6s;
	height: 100vh;
/*	opacity: 0;*/
	user-select: none;
}
#clickmore:hover #more{
	display: block;
	height: 300px;
}
.dropdown .close{
	width: 100%;
	background: hsla(359,100%,50%,1.00);
	height: 40px;
	padding: 0 20px;
	box-sizing: border-box;
	transition: 0.3s;
}
.dropdown .close span:nth-child(1){
	float: left;
	font-size: 15px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 40px;
}
.dropdown .close span:nth-child(2){
	float: right;
	line-height: 40px;
	font-size: 15px;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
/*
	background: hsla(359,100%,20%,1.00);
	padding: 0 20px;
*/
}
.dropdown ul{
	list-style-type: none;
	padding: 0; 
	margin: 0;
}
.dropdown ul li{
	display: block;
/*	border-bottom: 1px solid hsla(0,0%,10%,1.00);*/
}
.dropdown ul li:hover{
	background: hsla(0,0%,10%,1.00);
}
.dropdown ul li a{
	display: block;
	font-size: 16px;
	color: hsla(0,0%,70%,1.00);
	padding: 10px 0;
	margin-left: 20px;
	text-transform: uppercase;
	font-weight: 600;
}
.dropdown ul li a i{
	padding-right: 10px;
}

.manager-play .back-up{
	position: absolute;
	bottom: 50px;
	right: -70px;
	position: fixed;
	z-index: 9;
	cursor: pointer;
/*	background: hsla(237,97%,63%,1.00);*/
	overflow: hidden;
	opacity: 0;
	transition: 0.2s;
	transition-delay: 0.3s;
	width: 70px;
}
.manager-play:hover .back-up{
	opacity: 100;
	right: 0;
}
.manager-play .back-up span{
	margin: 0;
	float: right;
	font-size: 25px;
	margin-bottom: 8px;
}
.manager-play .back-up span i{
	border-radius: 50%;
	color: #fff;
	background:hsla(359,94%,57%,1.00);
	padding: 8px;
	margin: 0;
	float: right;
}

.down{
	opacity: 0;
}

.manager-navigettion{
	background: hsla(0,0%,100%,1.00);
	box-shadow: 0px 5px 30px rgba(0,0,0,0.2);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	overflow: hidden;
	user-select: text;
}
.box-menu-bars{
	margin: auto;
	overflow: hidden;
}
.menu{
	height: 60px;
	font-family: Roboto;
	color: hsla(0,0%,46%,1.00);
	margin: auto;
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}
.menu .logo{
	line-height: 60px;
	float: left;
	font-size: 25px;
	color: #030303;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.2s;
}
.menu ul{
	float: right;
}
.menu ul li{
	float: left;
	position: relative;
	margin: 5px 0px;
}
.menu ul li a{
	display: block;
	padding: 0 40px;
	line-height: 50px;
	color: hsla(0,0%,50%,1.00);
	font-size: 23px
}
.menu ul li:hover{
	background: hsla(0,0%,46%,0.03);
	border-radius: 10px 10px 0 0;
	border-bottom: 3px #fff solid;
}
.menu ul li:hover a{
	color: hsla(359,63%,53%,1.00);
}

/* .box-menu-bars .search-box{
	float: left;
	display: flex;
	align-items: center;
    background: hsla(0,0%,100%,1.00);
	margin-left: 40px;
	width: 550px;
	overflow: hidden;
	margin-top: 10px;
	height: auto;
}
.box-menu-bars .search-box .box-search{
	width: 100%;
	border:  solid 1px hsla(0,0%,80%,1.00);
	outline: none;
	background: hsla(0,0%100%,1.00);
	padding: 8px;
	color: hsla(0,0%,30%,1.00);
	border-radius: 50px;
	padding-left: 20px;
	font-size: 17px;
}  */












/*CSS Play Video*/
.manager-play{
	margin-top: 70px;
/*	background: hsla(359,100%,58%,1.00);*/
	padding: 0;
	user-select: text;
	transition: 0.2s;
}
.play-video{
	overflow: hidden;
	box-sizing: border-box;
}
.play-video .video-play{
	width: 100%;
	height: 10px;
	position: relative;
	padding-bottom: 56.50%;
/*	position: fixed;*/
	z-index: 99;
	overflow: hidden;
	border-radius: 12px;
}
.play-video .video-play iframe{
	height: 100%;
	width: 100%;
	position: absolute;
	} 
.play-video .play{
	width: 100%;
	overflow: hidden;
	/* cursor: pointer; */
}
.play-video .play .video{
	width: 200px;
	height: 200px;
}
.play-video .play .title{
	margin-top: 0px;
}
.play-video .play .title .text span{
	font-size: 20px;
	color: hsla(0,0%,30%,1.00);
	font-weight: 900;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: normal;
	line-height: 30px;
	padding-top: 15px;
}
.play-video .play .title .viwes{
	margin-top: 7px;
	overflow: hidden;

}
.play-video .play .title .viwes span{
	font-size: 15px;
	color: #030303;
	font-weight: 100;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: normal;
/*	background: hsla(359,100%,60%,1.00);*/
	font-family: "Roboto Light","Roboto", "Arial", sans-serif,"Suwannaphum", serif;
}
.box-user{
	float: left;
	/* background-color: #adadad; */
	width: 40%;
	display: flex;
	box-sizing: border-box;
	overflow: hidden;
	/* justify-content: center; */
	align-items: center;
}
.box-user .img-user{
	float: left;
	width: 40px;
	overflow: hidden;
	box-sizing: border-box;
	height: 40px;
	border-radius: 50px;
}
.box-user .img-user img{
	width: 100%;
	height: 100%;
}
.box-user .name-user{
	float: right;
	align-items: center;
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	display: -webkit-box;
}
.box-user .name-user p{
	font-family: roboto,Nokora;
}
.box-user .name-user p:nth-child(1){
	margin: 0;
	padding: 0;
	padding-left: 10px;
	font-size: 16px;
	font-weight: 600;
	color: #4b4a4a;
}
.box-user .name-user p:nth-child(2){
	font-size: 13px;
	margin: 0;
	padding: 0;
	padding-left: 10px;
}
.play-video .play .title .manager-icon{
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	/* margin-top: 10px; */
	height: auto;
	/* background-color: rgb(255, 94, 94); */
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	/* justify-content: center; */
	align-items: center;
}
.play-video .play .title .like-icon{
	float: right;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	display: -webkit-box;
	box-sizing: border-box;
	height: auto;
	/* padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 7px;
	margin-bottom: 5px; */
	width: 60%;
	/* background-color: blue; */

}
.play-video .play .like-icon span{
	/* padding: 0px 10px 0px 0px; */
	padding-right: 8px;
	padding-left: 5px;
	/* margin: 10px; */
	padding-top: 10px;
	padding-bottom: 10px;
	/* background-color: #ff3f3f; */
	color: #383838;
	font-size: 13px;
	font-family: "Roboto Light","Roboto", "Arial", sans-serif,"Suwannaphum", serif;
/*	background: hsla(0,0%,24%,1.00);*/
	border-radius: 50px;
	transition: 0.5s;
	cursor: pointer;
}
/* .play-video .play .like-icon span:hover{
	background-color: #e0e0e0;
	color: rgb(255, 41, 41);
} */
.play-video .play .like-icon i{
	padding: 0 8px;
/*	color: hsla(359,100%,63%,1.00);*/
	color: hsla(0,0%,50%,1.00);
	
}
.play-video .play .like-icon span:hover i{
	color: hsla(359,100%,64%,1.00);
}
.manager-user{
	/* background: rgb(255, 56, 195); */
	overflow: hidden;
	padding-top: 5px;
	border-bottom: 1px hsla(0,0%,75%,1.00) solid;
	padding-bottom: 15px;
	border-top: 1px hsla(0,0%,75%,1.00) solid;
	font-family: "Roboto Light","Roboto", "Arial", sans-serif,"Suwannaphum", serif;
	width: 100%;
	display: block;
	box-sizing: border-box;
	float: left;
}
.profile-sub{
/*	background: hsla(237,100%,67%,1.00);*/
	width: 22%;
	overflow: hidden;
	height: auto;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	background-color: rgb(71, 254, 92);
	float: left;
}
.profile-sub .profile{
	width: 100%;
	float: left;
/*	background: hsla(136,100%,63%,1.00);*/
	display: flex;
	align-items: center;
	margin-right: 10px;
	box-sizing: border-box;
	overflow: hidden;
}
.profile-sub .profile img{
	width: 37px;
	height: 37px;
	border-radius: 50%;
	float: left;
}
.profile-sub .subscribe{
	float: right;
	text-align: right;
	width: 60%;
/*	margin-left: 30px;*/
    background-color: rgb(255, 37, 37);
}
.profile-sub .subscribe span{
	border-radius: 7px;
}
.profile-sub .user-name{
	background: rgb(248, 255, 51);
	font-weight: 500;
	width: 60%;
	float: left;
	font-family: "Roboto Light","Roboto", "Arial", sans-serif,"Suwannaphum", serif;
}
.profile-sub .user-name span:nth-child(1){
	display: block;
	font-size: 15px;
	line-height: 25px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: normal;
	color: #030303;
	font-family: "Roboto Light","Roboto", "Arial", sans-serif,"Suwannaphum", serif;
}
.profile-sub .user-name span:nth-child(2){
	font-size: 15px;
	color: hsla(0,0%,60%,1.00);
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: normal;
	font-family: "Roboto Light","Roboto", "Arial", sans-serif,"Suwannaphum", serif;
}
.profile-sub .user-name span i{
	padding-left: 5px;
	font-size: 13px;
	color: hsla(0,0%,20%,1.00);
}
.profile-sub .subscribe span{
	float: right;
	background: #c00;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
/*	border-radius: 5px;*/
	user-select: none;
	margin-left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 30px;
	text-align: center;
	font-family: "Roboto Light","Roboto", "Arial", sans-serif,"Suwannaphum", serif;
}
.profile-sub .subscribe span i{
	padding-right: 10px;
/*	transition: 0.9s;*/
}
.manager-user .readmore{
/*	background: hsla(358,100%,86%,1.00);*/
	width: 100%;
	float: right;
	overflow: hidden;
	/* padding-left: 50px; */
	height: auto;
	user-select: text;
	font-family: "Roboto Light","Roboto", "Arial", sans-serif,"Suwannaphum", serif;
	font-size: 15px;
/*	margin-top: 10px;*/
	font-weight: 500;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 10px;
}
.readmore .readtic{
	padding: 0;
	margin: 0;
	white-space: normal;
/*	background: hsla(359,100%,67%,1.00);*/
	overflow: hidden;
	position: relative;
	transition: 0.2s;
	font-family: "Roboto Light","Roboto", "Arial", sans-serif,"Suwannaphum", serif;
}
.readmore .readtic span{
	display: -webkit-box;
	text-overflow: ellipsis;
/*	white-space: normal;*/
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	line-height: 25px;
	font-size: 15px;
	font-family: "Roboto Light","Roboto", "Arial", sans-serif,"Suwannaphum", serif;
}
.readmore .readtic .textover{
	background: hsla(0,0%,95%,1.00);
	position: fixed;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	display: block;
	padding: 5px;
	opacity: 0;
/*	font-size: 13px;*/
	bottom: 0;
	text-align: center;
	line-height: 40px;
/*	border-radius: 10px;*/
/*	margin-left: -1px;*/
/*	border: 1px hsla(0,0%,10%,1.00) solid;*/
	user-select: none;
	transition: 0.2s;
	font-size: 15px;
	font-family: "Roboto Light","Roboto", "Arial", sans-serif,"Suwannaphum", serif;
}
.read-more .readtic .textover i{
	padding-left: 5px;
}
.readmore .readtic:hover .textover{
	display: block;
	opacity: 999;
}
.readup{
	margin-top: 30px;
	float: left;
	user-select: none;
/*	background: hsla(359,100%,59%,1.00);*/
/*	display: none;*/
	color: rgb(87, 87, 87);
	font-size: 13px;
	/* background-color: #c00; */
	display: flex;
	justify-content: center;
	align-items: baseline;
	overflow: hidden;
	box-sizing: border-box;
	width: 100%;
}
.readup p{
	padding: 0;
	margin: 0;
	background-color: #d4d4d4;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 20px;
	border-radius: 20px;
	transition: 0.3s;
	cursor: pointer;
}
.readup p i{
	padding-left: 10px;
	margin: 0;
}
.readup p:hover{
	color: hsla(359,96%,67%,1.00);
}
.readdown{
	margin-top: 8px;
	user-select: none;
	color: hsla(0,0%,65%,1.00);
	width: 150px;
}
.readdown:hover{
	color: hsla(359,96%,67%,1.00);
}
.description{
	display: none;
	/* margin-top: -20px; */
	user-select: none;
	background: #F4F4F4;
	padding: 0px 13px 20px 13px;
	box-sizing: border-box;
	overflow: hidden;
	height: auto;
	background-color: rgb(229, 229, 229);
	border-radius: 10px;
}
.manager-user .readmore .description span{
	white-space: pre-wrap;
	font-size: 15px;
	font-family: "Roboto Light","Roboto", "Arial", sans-serif,"Suwannaphum", serif;
}




/*ads---------live*/
.ads-live{
	display: none;

}





















/*Thumbnail Right*/
.post-item{
	overflow: hidden;
/*	background: hsla(359,96%,59%,1.00);*/
	box-sizing: border-box;
	cursor: pointer;
	margin-bottom: 20px;
	
}
.post-item .thumbnail{
	float: left;
	width: 45%;
	height: 110px;
	position: relative;
}
.post-item .thumbnail img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.post-item .title{
	float: left;
	width: 52%;
	margin-left: 2%;
/*	background: hsla(231,100%,60%,1.00);*/
	font-family: Roboto,Dangrek;
	overflow: hidden;
}
.post-item .title .text span{
	font-size: 17px;
	color: hsla(0,0%,20%,1.00);
	font-weight: 400;
	line-height: 23px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: normal;
/*	background: hsla(359,100%,65%,1.00);*/
	padding-bottom: 3px;
}
.post-item .title .date-time{
	line-height: 22px;
	display: block;
	float: left;
	width: 80%;
/*	background: hsla(359,100%,63%,1.00);*/
}
.post-item .title .date-time span{
	font-size: 13px;
	color: hsla(0,0%,65%,1.00);
	float: left;
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: normal;
	
}
.post-item .title .date-time span i{
	padding-left: 5px;
	font-size: 10px;
	color: hsla(192,100%,50%,1.00);
}
.post-item .title .date-time span a{
	color: hsla(0,0%,42%,1.00);
	float: left;
}
.post-item .title .date-time span a:hover{
	color: hsla(359,100%,60%,1.00);
}
.post-item .thumbnail .time-icon{
	position: absolute;
	right: 5px;
	top: 5px;
	color: #fff;
	opacity: 0;
}
.post-item .thumbnail .time-icon span{
	display: block;
}
.post-item .thumbnail .time-icon span i{
	padding: 8px;
	background: hsla(0,0%,0%,1.00);
	width: 30px;
	text-align: center;
	margin-bottom: 5px;
	border-radius: 3px;
	font-size: 13px;
}
.post-item:hover .time-icon{
	opacity: 100;
}
.post-item .thumbnail .time-video{
	position: absolute;
	bottom: 5px;
	right: 5px;
	color: #fff;
	font-size: 13px;
}
.play-video .post-item .thumbnail .time-video span{
	padding: 0px 5px;
	background: hsla(0,0%,0%,1.00);
	font-weight: 500;
	border-radius: 5px;
}
.play-video .play video{
	height: auto;
}

.btnmore-video{
	display: none;
	width: 100%;
	color: #fff;
	text-align: center;
	background: hsla(0,0%,10%,1.00);
	white-space: normal;
	font-size: 15px;
	padding: 10px 0;
/*	margin-top: 30px;*/
	cursor: pointer;
	transition: 0.3s;
	font-family: Dangrek,Roboto;
}
.btnmore-video:hover{
	background: hsla(0,0%,15%,1.00);
}
.btnmore-video i{
	margin-left: 5px;
}

.more-video{
	display: block;
/*	padding: 0;*/
/*	margin: 0;*/
/*	opacity: 0;*/
}






















/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.manager-play:hover .back-up{
		right: 100px;
	}
	.readmore .readtic span{
	-webkit-line-clamp: 2;
}
	.bars-menu{
		display: none;
	}
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.user-name{
		margin-left: -10px;
	}
	.post-item .thumbnail{
		height: 120px;
	}
	.manager-user{
		margin-bottom: 20px;
	}
/*
	.play-video .play .title .text span{
		font-size: 18px;
		line-height: 25px;
	}
*/
/*
	.post-item .title .text span{
		font-size: 16px;
		line-height: 25px;
	}
*/
	.play-video .play .title .viwes span{
		font-size: 13px;
	}
	.post-item .title .date-time span{
	font-size: 13px;
	line-height: 25px;
}
	.profile-sub .profile{
	padding-right: 70px;
}
	.post-item .title .date-time{
		width: 100%;
	}
	.post-item .thumbnail{
		width: 55%;
	}
	.post-item .title{
		width: 42%;
	}
	.profile-sub .profile{
	padding-right: 50px;
}
	.profile-sub .user-name{
	width: 60%;
}
	.bars-menu{
		display: none;
	}
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.menu ul li:nth-child(2){
		display: none;
	}
	.menu ul li:nth-child(3){
		display: none;
	}
	.menu ul li:nth-child(4){
		display: none;
	}
	.menu ul li:nth-child(5){
		display: none;
	}
	.post-item .thumbnail{
		height: 150px;
	}
	.manager-user{
		margin-bottom: 20px;
	}
/*
	.play-video .play .title .text span{
		font-size: 15px;
		line-height: 25px;
	}
*/
	.post-item .title .text span{
		font-size: 15px;
		line-height: 25px;
	}
	.play-video .play .title .viwes span{
		font-size: 13px;
	}
	.post-item .title .date-time span{
	font-size: 15px;
	line-height: 25px;
}
	.profile-sub .profile{
	padding-right: 60px;
}
	.profile-sub .profile{
	padding-right: 40px;
}
	.profile-sub .user-name{
	width: 60%;
}
	.post-item .title .date-time{
/*		background: hsla(239,100%,70%,1.00);*/
		width: 50%;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){ 
	.menu ul li:nth-child(2){
		display: none;
	}
	.menu ul li:nth-child(3){
		display: none;
	}
	.menu ul li:nth-child(4){
		display: none;
	}
	.menu ul li:nth-child(5){
		display: none;
	}
	.post-item .thumbnail{
		height: 120px;
	}
	.manager-user{
		margin-bottom: 20px;
	}
/*
	.play-video .play .title .text span{
		font-size: 15px;
		line-height: 25px;
	}
*/
	.post-item .title .text span{
		line-height: 25px;
	}
	.play-video .play .title .viwes span{
		font-size: 13px;
	}
	.post-item .title .date-time span{
	font-size: 15px;
	line-height: 25px;
}
	.profile-sub .profile{
	padding-right: 40px;
}
	.profile-sub .user-name{
	width: 60%;
}
	.post-item .title .date-time{
/*		background: hsla(239,100%,70%,1.00);*/
		width: 70%;
	}
	.play-video .play .title .manager-icon{
		margin-top: -0px;
	}
	.play-video .play .title .like-icon{
		padding-top: 15px;
		padding-bottom: 10px;
		/* background-color: #c00; */
	}

}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.play-video .play .title .manager-icon{
		width: 100%;
		display: block;
		padding-top: 8px;
	}
	.box-user{
		width: 100%;
		/* background-color: #c00; */
		float: left;
	}
	.manager-icon .name-user p:nth-child(1){
		color: #ffffff;
	}
	.manager-icon .name-user p:nth-child(2){
		color: #d6d6d6;
	}
	.manager-icon .like-icon{
		/* background-color: aqua; */
		width: 100%;
		float: left;
		margin-top: 5px;;
	}
	.menu ul li:nth-child(2){
		display: none;
	}
	.menu ul li:nth-child(3){
		display: none;
	}
	.menu ul li:nth-child(4){
		display: none;
	}
	.menu ul li:nth-child(5){
		display: none;
	}
	.menu .logo{
	font-size: 20px;
	}
	.menu ul li a{
	display: block;
	padding: 0 20px;
	}
	.play-video .play .title{
		padding: 0 10px;
	}
	.play-video .play .title .text span{
		font-size: 17px;
	}
	.manager-play{
		padding: 15px ;
		padding-top: 50px;
	}
	.manager-play{
	margin-top: 20px;
}
	.play-video .play .title .viwes{
		width: 95px;
	}
	.profile-sub .profile{
	padding-right: 40px;
}
	.post-item .thumbnail{
		width: 100%;
	}
	.post-item .title{
		width: 100%;
/*		background: hsla(359,100%,66%,1.00);*/
		padding: 0 10px;
		margin: 0;
		padding-top: 10px;
	}
	.play-video .play .title .viwes{
		width: 100%;
		padding-bottom: 40px;
	}
	.play-video .play .title .viwes span{
		font-size: 13px;
		color: hsla(0,0%,91%,1.00);
	}
	.play-video .play .title .manager-icon .like-icon{
		float: left;
		padding: 0;
		/* margin-left: -10px; */
		width: 100%;
		
	}
	/* .play-video .play .title .manager-icon{
		margin-top: -35px;
		
	} */
/*
	.play-video .play .title .text span{
		font-size: 18px;
		line-height: 25px;
	}
*/
/*
	.post-item .title .text span{
		font-size: 15px;
	}
*/
	.manager-user{
		margin-bottom: 20px;
		padding: 15px 10px;
	}
	.box-menu-bars{
		padding: 0 10px;
	}
	.time-icon{
		display: none;
	}
	.post-item .title .text span{
		line-height: 23px;
		color: hsla(0,0%,91%,1.00);
	}
	.post-item .thumbnail{
		height: 200px;
	}
	.post-item .title .date-time span{
	font-size: 14px;
	line-height: 25px;
	float: left;
	padding-right: 8px;
		color: hsla(0,0%,60%,1.00);
}
	.post-item .title .date-time{
		display: flex;
/*		background: hsla(239,100%,70%,1.00);*/
		width: 100%;
	}
	/* .post-item{
		padding-bottom: 8px;
	} */
	.play-video{
		padding: 0px;
/*		background: hsla(359,95%,68%,1.00);*/
	}
	.profile-sub .user-name{
	width: 70%;
}
	.play-video .play .video-play{
	width: 100%;
	height: 0px;
}
.play-video .play .video-play iframe{
		height: 100%;
		width: 100%;
	}
.btnmore-video{
	display: block;
}
	.more-video{
		display: none;
	}
	.profile-sub .subscribe{
		width: 50%;
		padding-left: 20px;
	}
	body{
		background: hsla(0,0%,0%,1.00);
	}
	div,text{
		color: hsla(0,0%,94%,1.00);
	}
	.play-video .play .title .text span{
		color: hsla(0,0%,94%,1.00);
	}
	.play-video .manager-icon .like-icon span{ 
		color: hsla(0,0%,94%,1.00);
	}
    .play-video .user-name span a{
		color: hsla(0,0%,94%,1.00);
	}
	.ads-live{
	display: block;
		width: 500px;
		height: 60px;
		overflow: hidden;
		margin-top: 40px;
	}
	.ads-live .box-ads{
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	.box-ads img{
		width: 100%;
	}
	.profile-sub .user-name span:nth-child(1){
	color: hsla(0,0%, 95%,1.00);
}
	.manager-play .back-up{
/*		background: hsla(256,100%,53%,1.00);*/
		bottom: 130px;
	}
	/* .post-item .thumbnail img{
		border-radius: 10px;
	} */
	.readmore .readtic .textover{
	background: hsla(0,0%,9%,1.00);
	}
	.description{
	display: none;
	margin-top: -20px;
	user-select: text;
	background: #323232;
	padding: 13px 20px 30px;
	overflow: hidden;
	border-radius: 12px ;
}
	.profile-sub{
		margin-bottom: 8px;
	}
	.play-video .play .title .manager-icon{
		/* background-color: #c00; */
		height: auto;
		/* padding-top: 20px; */
	}
	.play-video .play .title .manager-icon .like-icon{
		height: auto;
		padding-top: 10px;
		padding-bottom: 8px;
	}
	/* .play-video .play .title .manager-icon .like-icon span:hover{
		background-color: #292929;
} */

}