@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
	/* background: rgb(255, 255, 255); */
	font-family: "Roboto Light","Roboto", "Arial", sans-serif,"Suwannaphum", serif;
	color: var(--secondary-color);
}
:root{
	--primary-color: #edf2fc;
	--secondary-color: #212121;
}
h1,h2,h3,h4,h5,h6,a,ul{
	text-decoration: none;
	box-sizing: border-box;
	list-style-type: none;
	font-family: "Roboto Light","Roboto", "Arial", sans-serif,"Suwannaphum", serif;
}
.dark-mode{
	background-color: #000000;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsla(359,100%,62%,1.00);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



/* -------------------------------------------------Start Container manager ADS---------------------------------------------- */
.container-ads{
	width: 100%;
	padding-top: 95px;
	/* background: linear-gradient(90deg, rgb(21, 55, 135) 0%, rgb(34, 83, 189) 100%); */
	height: auto;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding-bottom: 10px; */
	margin: 0;
	padding-bottom: 20px;
}
.container-ads .row{
	margin: 0;
	padding: 0;
}
.container-ads .box-ads{
	width: 100%;
	height: auto;
	/* background-color: #ff7a7a; */
	padding-bottom: 10px;
}
.container-ads .box-ads img{
	width: 100%;
	height: 100%;
	border-radius: 15px;
	padding: 0;
	margin: 0;
}
.container-ads .box-ads p{
	font-size: 45px;
	color: white;
	/* padding-bottom: 100px; */
	margin: 0;
	user-select: text;
}
.container-ads .box-ads p:nth-child(2){
	margin: 0;
	padding: 0;
	font-size: 25px;
	text-align: center;
	line-height: 1.5cm;
}
.container-ads .box-ads .contact{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	box-sizing: border-box;
	width: auto;
	height: auto;
	padding-top: 8px;
	padding-bottom: 8px;
	/* background-color: #ff3232; */
}
.container-ads .box-ads .contact i{
	margin: 15px;
    font-size: 20px;
}
.container-ads .box-ads .contact a{
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	transition: 0.3s;
}
.container-ads .box-ads .contact a:hover{
	background-color: #ffffff;
	color: #0058a5;
	border-radius: 8px;
	transform: scale(1.15);
}
.opslide{
	-webkit-animation-direction: 1.5s;
	-webkit-animation-name: opslide;
	animation-name: opslide;
	animation-duration: 1.5s;
}


@keyframes opslide{
	from{opacity: .6 ;} 
	to{opacity: 1;}
}
@-webkit-keyframes opslide{
	from{opacity: .6 ;} 
	to{opacity: 1;}
}

/* --------------------------------End Container manager ADS--------------------------- */



/*-------------------------------- Start manager-navigettion ---------------------------*/
.manager-navigettion{
	background: rgb(255, 255, 255);
	box-shadow: 0px 5px 30px rgba(0,0,0,0.2);
	position: fixed;
	z-index: 99;
	overflow: hidden;
	user-select: none;
	transition: 0.3s;
	padding-left: 25px;
	padding-right: 25px;
}
.box-navigettion{
	/* background-color: #ff3030; */
	display: flex;
	align-items: center;
}
.logo-web{
	/* background-color: aqua; */
	display: flex;
	align-items: center;
	padding: 18px 0px 18px 0px;
}
.logo-web img{
	width: 170px;
	height: auto;
}
.logo-web p{
	margin: 0;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
	display: none;
}
.menu{
	/* background-color: #0058a5; */
	overflow: hidden;
	box-sizing: border-box;
}
.menu ul{
	margin: 0;
	display: flex;
	align-items: center;
	float: right;
}
.menu ul li{
	margin-left: 20px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	color: #1e54cd;
}
.menu ul li:hover{
	color: #ffffff;
}
.menu ul li a{
	float: right;
	font-size: 20px;
	cursor: pointer;
	padding: 10px 15px 10px 15px;
	transition: 0.3 s;
	font-family: "Kantumruy Pro", sans-serif;
	font-weight: 600;
}
.menu ul li a:hover{
	background-color: #1e54cd;
}
.menu ul li a:hover i{
	color: #ffffff;
}
.menu ul li a i{
	cursor: pointer;
	color: #1e54cd;
}
.menu ul li:nth-child(5){
	display: none;
}

/*-------------------------------- End manager-navigettion ---------------------------*/






/* --------------------------------- Start List For Video ----------------------------*/

.list-for-video{
	/* background: rgba(10,59,170,1); */
	box-sizing: border-box;
	overflow: hidden;
	z-index: 9;
	padding: 0;
	margin: 0;
}
.box-list-for-video{
	display: flex;
	background: rgba(10,59,170,1);
	overflow: hidden;
	box-sizing: border-box;
	align-items: center;
	padding: 8px 15px;
	border-radius: 5px;
	width: 100%;
	height: auto;
	justify-content: center;
	margin: 0;
}
.manager-list{
	/* background-color: aqua; */
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.list-for-video .box-list-for-video .list{
	padding: 5px;
	cursor: pointer;
}
.list-for-video .box-list-for-video .list p{
	padding: 8px 10px;
	background-color: #1e54cd;
	margin: 0;
	border-radius: 8px;
	color: #ffffff;
	font-family: "Suwannaphum", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
}
.box-list-for-video .next-left{
	/* background-color: #f81e1e; */
	float: left;
	width: 5%;
	text-align: left;
}
.box-list-for-video .next-left i{
	font-size: 35px;
	color: white;
	padding: 7px 10px;
	background-color: #1e54cd;
	border-radius: 5px;
	cursor: pointer;
}
.box-list-for-video .next-right{
	/* background-color: #f81e1e; */
	float: right;
	width: 5%;
	text-align: right;
}
.box-list-for-video .next-right i{
	font-size: 35px;
	color: white;
	padding: 7px 10px;
	background-color: #1e54cd;
	border-radius: 5px;
	cursor: pointer;
}


/* ---------------------------------- End List For Video ----------------------------*/




/*--------------------------------Start Manager Post item Video-----------------------*/
.manager-post-video{
	/* background: rgb(250, 95, 95); */
	/* margin-top: 20px; */
	box-sizing: border-box;
	overflow: hidden;
	/* display: flex; */
	width: 100%;
	height: auto;
	justify-content: center;
	/* align-items: center; */
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 20px;
}
.container .row{
	margin: 0;
	padding: 0;
}
.box-post{
	/* background-color: #0058a5; */
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* overflow: hidden; */
	padding-bottom: 20px;
}
.box-video{
	/* width: 300px; */
	/* background-color: #919191; */
	/* height: 310px; */
	height: auto;
	/* border-radius: 10px; */
	margin: 8px;
	/* overflow: hidden; */
	box-sizing: border-box;
	cursor: pointer;
}
.thumbnail-video{
	width: 100%;
	height: auto;
	overflow: hidden;
	box-sizing: border-box;
	/* background-color: #0058a5; */
	position: relative;
}
.box-video:hover .play-video{
	opacity: 100;
}
.thumbnail-video .play-video{
	width: 50px;
	height: 50px;
	/* background-color: #ff3232; */
	position: absolute;
	top: 50%;
	left: 50%;
	color: white;
	font-size: 30px;
	translate: -50% -50%;
	text-align: center;
	display: flex;
	overflow: hidden;
	box-sizing: border-box;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: 0s;
}
.thumbnail-video .play-video span{
	background-color: #ff3030;
	margin: 0;
	padding: 10px;
	transition: 0s;
}
.thumbnail-video .play-video span:hover{
	background-color: rgb(255, 69, 69);
}
.thumbnail-video .play-video span i{
	padding-left: 3px;
	text-shadow: 0px 0px 20px #000000b4;
}
.thumbnail-video .time-video{
	position: absolute;
	bottom: 10px;
	width: auto;
	/* background-color: #ff3232; */
	display: flex;
	/* align-items: center; */
	box-sizing: border-box;
	overflow: hidden;
	right: 10px;
}
.thumbnail-video .time-video p{
	background-color: #00000085;
	margin: 0;
	color: white;
	padding: 2px 7px 1px 7px;
	font-size: 13px;
	border-radius: 5px;
	font-family: roboto;
	font-weight: 600;
	/* text-shadow: #000000 0px 0px 3px; */
}
.thumbnail-video img{
	width: 100%;
	height: 100%;
	border-radius: 13px;
	user-select: none;
}
.profile-title-video{
	width: 100%;
	/* background-color: #ff3232; */
	display: flex;
	padding-top: 8px;
}
.profile{
	width: 15%;
	/* background-color: aqua; */
	overflow: hidden;
	box-sizing: border-box;
}
.profile img{
	width: 40px;
	height: 40px;
	border-radius: 50px;
}
.title-video{
	width: 80%;
	/* background-color: blue; */
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	height: auto;
}
.title-video .title{
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	height: auto;
	/* background-color: darkorchid; */
    font-family: "Roboto", "Arial", sans-serif;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
	padding-top: 3px;
	line-height: 1.5rem;
}
.title-video .title p{
	margin: 0;
	font-weight: 700;
	color: #424242;
}
.menu-video-thumbnail{
	width: 5%;
	padding-top: 3px;
	color: #f81e1e;
	/* background-color: #0058a5; */
	display: inline-block;
	justify-content: center;
	/* overflow: hidden; */
	box-sizing: border-box;
	position: relative;
}
.menu-video-thumbnail i{
	margin: 0;
	padding: 0;
	height: 23px;
	border-radius: 4px;
	transition: 0.2s;
}
.menu-video-thumbnail i:hover{
	background-color: #e4e4e4;
}
.name-user-date{
	padding-top: 2px;
	color: #a1a1a1;
}
.name-user-date p{
	margin: 0;
    padding: 0;
	-webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    /* white-space: normal; */
	box-sizing: border-box;
	overflow: hidden;
}
.name-user-date p i{
	font-size: 13px;
	padding-left: 3px;
}
.name-user-date p a:hover{
	color: #f81e1e;
	transition: 0.3s;
}
.menu-video-thumbnail i:hover .list-open{
	display: block;
}
.list-menu-review{
	background: rgb(13, 70, 203) 100%;
	/* width: 250px; */
	height: auto;
	position: absolute;
	right: 120px;
	z-index: 9;
	border-radius: 10px;
	padding: 15px 13px 15px 13px;
	display: none;
}
.list-menu-review .list-box{
	display: flex;
	overflow: hidden;
	box-sizing: border-box;
	align-items: center;
	border-radius: 4px;
	margin-bottom: 10px;
	color: white;
}
.list-menu-review .list-box:hover{
	background-color: #246aff;
}
.list-menu-review .list-box .icon{
	padding-left: 13px;
	padding-right: 12px;
	font-size: 23px;
}
.list-menu-review .list-box .title p{
	padding: 7px;
	font-size: 16px;
	font-weight: 500;
}
.list-menu-review .list-box .title p:hover{
	background-color: #42424200;
}

/* --------------------- Start Review Video -------------------- */

.review-video{
	box-sizing: border-box;
	overflow: hidden;
	padding-bottom: 10px;
}
.title-review{
	width: 100%;
	background: linear-gradient(90deg, rgba(10,59,170,1) 0%, rgba(43,105,244,1) 100%);
	border-radius: 12px;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	align-items: center;
	padding-left: 15px;
	cursor: pointer;
}
.title-review p{
	margin: 0;
	padding: 23px 15px 23px 15px;
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
}
.title-review p:nth-child(3){
	background: linear-gradient(90deg, rgb(15, 86, 251) 0%, rgb(43, 107, 244) 100%);
	padding: 8px 10px;
	border-radius: 6px;
}
.title-review p:nth-child(3) title{
	background-color: #ff0000;
}
.title-review p a{
	font-size: 18px;
}
.title-review p a i{
	font-size: 13px;
}
.box-profile-title-revew{
	/* background-color: aqua; */
	display: flex;
	align-items: center;
	box-sizing: border-box;
	overflow: hidden;
}
.title-review .list{
	box-sizing: border-box;
	overflow: hidden;
	padding-right: 20px;
	/* background-color: #ff4545; */
}
.title-review .list i{
	float: right;
	font-size: 25px;
	color: #ffffff;
	cursor: pointer;
	padding: 0px 13px;
	margin: 0;
	border-radius: 5px;
}
.title-review .list i:hover{
	background-color: #f5f5f547;
}
.title-review p a:hover{
	color: #e9e9e9;
	transform: scale(0.2);
}
.title-review .profile{
	width: auto;
	/* background-color: #29ff49; */
}
.title-review .profile img{
	border: 3px solid #ffffff;
}


/* --------------------- End Review Video --------------------- */

/*---------------------------------------End  Manager Post item Video--------------------------*/


/*--------form-login--------*/
/*
.form-login:hover .box-login p{
	color: hsla(237,100%,56%,1.00);
}
*/
.box-login p{
	font-family: "Roboto Light","Roboto", "Arial", sans-serif,"Suwannaphum", serif;
}
.form-login{
	width: 100%;
	height: 100vh;
	background: hsla(0, 0%, 0%, 0.841);
	position: fixed;
	z-index: 5;
	left: auto;
	display: none;
	transition: 0.1s;
}
.form-login .box-login{
	width: 400px;
	height: auto;
	background: hsla(0,0%,100%,1.00);
	margin: auto;
	margin-top: 100px;
	user-select: text;
	padding: 20px;
	border-radius: 15px;
	transition: 0.2s;
}
.form-login .box-login p{
	text-align: center;
	font-size: 30px;
	font-weight: bolder;
	color: rgb(0, 94, 255);
	transition: 0.3s;
	user-select: none;
	padding-bottom: 10px;
	margin: 0;
	font-weight: 900;
}
.form-login .box-login .login{
	width: 100%;
	padding: 10px;
	border: 2.50px solid rgb(0, 94, 255);
	outline: none;
	box-sizing: border-box;;
	color: rgb(0, 94, 255);
	background: hsla(0,0%,100%,1.00);
	padding-top: 10px;
	border-radius: 30px;
	padding-left: 20px;
	/* margin-bottom: 10px; */
}
/* .form-login .box-login .login:focus{
	border: rgb(0, 94, 255) 2px solid; 
} */
.form-login .box-login .fa{
	right: 20px;
	top: 25px;
	font-size: 20px;
	color: hsla(0,0%,100%,1.00);
	cursor: pointer;
}
.form-login .box-login .btn-submit{
	width: 100%;
	background: rgb(0, 94, 255);
	padding: 11px 7px;
	color: #FFFFFF;
	text-align: center;
	margin-top: 30px;
	cursor: pointer;
	font-weight: 700;
	font-size: 18px;
	border-radius: 30px;
	transition: 0.3s;
}
.form-login .box-login .btn-submit:hover{
	background: rgb(0, 66, 180);
}
.form-login .box-login .login-with{
	width: 100%;
	float: left;
/*	background: hsla(0,0%,21%,1.00);*/
	margin-top: 20px;
	font-family: Roboto;
	color: hsla(0,0%,100%,1.00);
	box-sizing: border-box;
	margin-bottom: 15px;
}
.form-login .box-login .login-with .login-fb{
	width: 49%;
	float: left;
	font-weight: 600;
	background: rgb(0, 94, 255);
	text-align: center;
	padding: 11px 7px;
	cursor: pointer;
	color: hsla(0,0%,100%,1.00);
	border-radius: 30px;
	transition: 0.5s;
}
.form-login .box-login .login-with .login-fb .fa{
	font-size: 15px;
	padding-right: 5px;
}
.form-login .box-login .login-with .login-google{
	float: right;
	text-align: center;
	padding: 11px 7px;
	font-weight: 600;
	width: 49%;
	cursor: pointer;
	background: hsla(0,100%,58%,1.00);
	color: hsla(0,0%,100%,1.00);
	transition: 0.2s;
	border-radius: 30px;
}
.form-login .box-login .login-with .login-google .fa{
	font-size: 15px;
	color: hsla(0,0%,100%,1.00);
	padding-right: 5px;
}
.copyright{
	width: 100%;
	/* background-color: #ff4545; */
	overflow: hidden;
	box-sizing: border-box;
	display: block;
	justify-content: center;
	align-items: center;
	height: auto;
	padding: 10px;
}
.copyright h1{
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 13px;
	color: #555;
}
.copyright h1 a:hover{
	text-decoration: #ff4545;
}
.form-login .box-login h1{
	/* font-size: 15px; */
	text-align: center;
	color: hsla(0,0%,40%,1.00);
	/* padding-top: 10px; */
	margin: 0;
}
.form-login .box-login h1 a{
	color: hsla(237,100%,50%,1.00);
}
.form-login .box-login h2{
	/* font-size: 15px; */
	text-align: center;
	color: hsla(0,0%,30%,1.00);
	/* margin-top: 10px; */
	margin: 0;
}
.form-login .your-email{
	float: left;
	/* background-color: #ff5050; */
	width: 100%;
	height: auto;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
}
.form-login .your-email p{
	font-size: 15px;
	text-align: left;
	margin: 0;
	padding: 0;
}
.form-login .your-email p i{
	padding-right: 5px;
}
.form-login .forget{
	width: 100%;
	/* background-color: #ff3c3c; */
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-login .forget p{
	padding: 0;
	margin: 0;
	font-size: 15px;
	cursor: pointer;
	user-select: none;
	width: 100%;
	/* background-color: #5c5cfd */
}
.form-login .forget p:hover{
	color: #ff4545;
}
.form-login .check-box{
	/* background-color: #ff4f4f; */
	width: 100%;
	height: auto;
	display: flex;
	box-sizing: border-box;
	overflow: hidden;
	/* justify-content: center; */
	align-items: center;
	padding-left: 10px;
}
.form-login .check-box p{
	padding: 0;
	margin: 0;
	font-size: 15px;
	padding-left: 7px;
}



/* ------------------------------------------------Boostrap Responsive Website----------------------------------------------- */



/*---------------- Col-XL Extra large devices (large desktops, 1200px and up) -----------*/
@media (min-width: 1200px){
	
}
/*----------------- Col-LG Large devices (desktops, 992px and up) -----------------------*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.container-ads .box-ads img{
		border-radius: 10px;
	}

}
/*----------------- Col-MD Medium devices (tablets, 768px and up) ----------------------*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.menu ul li{
		margin-left: 10px;
	}
	.container-ads .box-ads img{
		border-radius: 10px;
	}
}

/*----------------- Col-SM Small devices (landscape phones, 576px and up) -------------*/
@media (min-width: 576px) and (max-width: 768.98px){ 
	.menu ul li:hover{
		color: #1e54cd;
	}
	.menu ul li a:hover{
		background-color: #b0020200;
	}
	.menu ul li a:hover i{
		color: #1e54cd;
	}
	.menu ul li{
		margin-left: 10px;
	}
	.menu ul li:nth-child(1){
		display: block;
	}
	.menu ul li:nth-child(2){
		display: none;
	}
	.menu ul li:nth-child(3){
		display: none;
	}
	.menu ul li:nth-child(4){
		display: none;
	}
	.menu ul li:nth-child(5){
		display: block;
	}
    .menu ul li a{
	    margin-left: 25px;
	    padding: 0;
    }
	.container-ads .box-ads img{
		border-radius: 0px;
	}
	.title-review p{
		padding: 23px 10px 23px 10px;
		font-size: 18px;
	}
	.title-review p a{
		font-size: 16px;
	}
}
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px){
	.title-review p{
		padding: 23px 5px 23px 5px;
		font-size: 12px;
	}
	.title-review p a{
		font-size: 14px;
	}
	.title-review p a i{
		font-size: 10px;
	}
	.menu ul li:hover{
		color: #1e54cd;
	}
	.menu ul li a:hover{
		background-color: #00000000;
	}
	.menu ul li a:hover i{
		color: #1e54cd;
	}
    .form-login .box-login{
		width: 90%;
    }
    .menu ul li:nth-child(1){
		display: block;
	}
	.menu ul li:nth-child(2){
		display: none;
	}
	.menu ul li:nth-child(3){
		display: none;
	}
	.menu ul li:nth-child(4){
		display: none;
	}
	.menu ul li:nth-child(5){
		display: block;
	}
	.menu ul li a{
	    margin-left: 0px;
	    padding: 0;
    }
	.container-ads .box-ads img{
		border-radius: 0px;
	}
}

/* -------------------------------------------- Col small devices 450px ---------------------------------------------- */
@media (max-width: 465.98px) and (max-width: 515.98px) {
	.form-login .box-login{
		width: 90%;
	}
	.menu ul li:nth-child(1){
		display: block;
	}
	.menu ul li:nth-child(2){
		display: none;
	}
	.menu ul li:nth-child(3){
		display: none;
	}
	.menu ul li:nth-child(4){
		display: none;
	}
	.menu ul li:nth-child(5){
		display: block;
	}
	.menu ul li a{
	    margin-left: 0px;
	    padding: 0;
    }
	.container-ads .box-ads img{
		border-radius: 0px;
	}
	.title-review p{
		font-size: 10px;
		padding: 10px 0px 10px 5px;
	}
	.title-review p a{
		font-size: 8px;
		padding: 0;
	}
	.title-review p a i{
		font-size: 7px;
	}
}
@media (max-width: 405.98px) and (max-width: 413.98px) {
	.form-login .box-login{
		width: 90%;
	}
	.container-ads .box-ads img{
		border-radius: 0px;
	}
	.title-review p{
		font-size: 8px;
		padding: 13px 0px 13px 5px;
	}
	.title-review p a{
		font-size: 8px;
		padding: 0;
	}
	.title-review p a i{
		font-size: 7px;
	}
	.title-review{
		padding: 5px;
		border-radius: 0px;
	}
	.title-review .list i{
		padding: 0;
	}
	.title-review{
		border-radius: 0px;
	}
	.title-review .list{
		padding: 0;
	}
	.box-profile-title-revew{
		padding-left: 5px;
	}
}

@media (max-width: 344.00px){
	body{
		background-color: none;
	}
	.title-video{
		width: 75%;
	}
	.profile{
		width: 20%;
	}
	.container-ads .box-ads img{
		border-radius: 0px;
	}
	.title-review .profile{
		width: 35px;					
		height: 35px;
	}
	.title-review .profile img{
		border: 3px solid #ffffff;
		width: 100%;
		height: 100%;
	}
	.title-review p{
		font-size: 8px;
		padding: 10px 0px 10px 8px;
	}
	.title-review p a{
		font-size: 7px;
		padding-left: 2px;
	}
	.title-review p a i{
		font-size: 5px;
	}
	.title-review .list i{
		padding-right: 0px;
	}
	.title-review{
		padding: 3px 1px 3px 3px;
		border-radius: 0px;
	}
	.title-review .list{
		padding-right: 10px;
	}
}






