body{
    background-color: #282828;
    white-space: nowrap;
    white-space: inherit;
}
.manage-navigettion-upload{
    background-color: #282828
}
.manage-navigettion-upload .menu-upload ul li a i{
    color: #ffffff;
}
.menu ul li a:hover{
	background-color: #1b1b1b;
}
.manager-navigettion{
	box-shadow: none;
    border-bottom: #000000 1.5px solid;
}
.manage-upload-video{
    /* background-color: #ff6767; */
    padding-top: 67px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}
.box-manage-upload-video{
    /* background-color: blue; */
    padding: 0;
    margin: 0;
    display: flex;
    white-space: nowrap;
}
.profile-dashboard{
    background-color: #282828;
    padding: 0;
    padding-right: 3px;
    margin: 0;
    white-space: nowrap;
    border-right: #ffffff20 1px solid;
}
.profile-dashboard .box-profile{
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
    white-space: nowrap;
}
.profile-dashboard .box-profile .box-image-profile img{
    width: 120px;
    border-radius: 100px;
    margin-bottom: 15px;
    cursor: pointer;
}
.profile-dashboard .box-profile .box-image-profile{
    text-align: center;
    color: #ffffff;
    font-family: "Roboto Light";
}
.profile-dashboard .box-profile .box-image-profile p{
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: 600;
}
.profile-dashboard .box-profile .box-image-profile span{
    font-size: 13px;
    color: #999999;
}

.profile-dashboard .box-list-menu-dashboard{
    /* background-color: royalblue; */
    padding-left: 13px;
    padding-right: 5px;
    overflow: scroll;
    height: 350px;
    background-color: #282828;
}
.profile-dashboard .box-list-menu-dashboard::-webkit-scrollbar-thumb{
    background-color: #606060;
    border-radius: 100000000px;
}
.profile-dashboard .box-list-menu-dashboard::-webkit-scrollbar{
    height: 0px;
    background-color: #282828;
    border-radius: 10000px;
}
.profile-dashboard .box-list-menu-dashboard::-webkit-scrollbar-track-piece{
    background-color: #282828;
}
.profile-dashboard .box-list-menu-dashboard .list-menu-dashboard{
    /* background-color: darkgreen; */
    display: flex;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 4px;
    color: #ffffff;
    cursor: pointer;
    /* font-weight: 600; */
}
.profile-dashboard .box-list-menu-dashboard .list-menu-dashboard:hover .text{
    transform: translate(5px, 0px);
    color: rgb(255, 255, 255);
}
.profile-dashboard .box-list-menu-dashboard .list-menu-dashboard:hover .icon i{
    color: rgb(30, 255, 0);
    text-shadow: 0px 0px 5px rgb(30, 255, 0);
}
.profile-dashboard .box-list-menu-dashboard .list-menu-dashboard:hover{
    background-color: #1f1f1f;
}
.profile-dashboard .box-list-menu-dashboard .list-menu-dashboard .icon{
    /* background-color: blue; */
    padding-right: 20px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}
.profile-dashboard .box-list-menu-dashboard .list-menu-dashboard .text{
    font-size: 14.5px;
    transition: 0.2s;
}
.profile-dashboard .dashboard-setting{
    padding-left: 13px;
    padding-right: 5px;
    margin: 0;
    padding-top: 7px;
    /* background-color: crimson; */
    border-top: #ffffff20 solid 1px;
}
.dashboard-setting .list-menu-dashboard{
    /* background-color: aqua; */
    display: flex;
    color: #ffffff;
    border-radius: 8px;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
}
.dashboard-setting .list-menu-dashboard:hover{
    background-color: #1f1f1f;
}
.dashboard-setting .list-menu-dashboard .icon{
    padding-right: 20px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}
.dashboard-setting .list-menu-dashboard .text{
    font-size: 14.5px;
}











/* Manage list video right */
.manager-list-video-right{
    background-color: #282828;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}